:root {
    font-size: 20px;
}

div {
    margin: 20px auto;
    text-align: center;
    text-transform: capitalize;
}

.one {
    font-size: 2.5rem;
}

.two {
    font-size: 2rem;
}

.three {
    font-size: 1.5rem;
}