.one {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
}

.two {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
}

.three {
    font-family: 'Jomhuria', 'cursive';
    font-weight: 400;
}

div {
    text-align: center;
    margin: 20px auto;
    text-transform: capitalize;
}