:root {
    --element-color: darkturquoise;
    --text-color: white;
}

h1 {
    position: relative;
    width: 150px;
    font-size: xx-large;
    font-weight: bold;
    color: var(--text-color);
    background-color: var(--element-color);
    text-align: center;
    margin: 30px auto;
    padding: 10px;
}

h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -11px;
    background-color: var(--element-color);
    z-index: -1;
    transform: skew(20deg);
}

h1::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 100%;
    top: 0;
    left: -33px;
    background-color: var(--element-color);
    z-index: -1;
    transform: skew(20deg);
}