/* * {
  /* Firefox */
/* -moz-box-sizing: content-box; */
/* Safari/Chrome/iOS/Android */
/* -webkit-box-sizing: content-box; */
/* IE (also the default value)*/
/* box-sizing: content-box; */
/* } */

.parent {
  width: 600px;
  overflow: hidden;
  margin: 20px auto;
  padding: 20px;
  background-color: #ddd;
}

.one {
  background-color: #eee;
  width: 300px;
  float: left;
  padding: 10px;
  border: 10px solid red;
  box-sizing: border-box;
}