/* css syntax */
/* selector {
    property_one: value;
    property_two: value;
} */

/* p {
    color: red;
    font-size: 20px;
} */
/* class targeting */
/* .my-p {
    color: red;
    font-size: 20px;
} */

/* id targeting */
/* #my-p {
    color: red;
    font-size: 20px;
} */