div {
    display: inline-block;
    margin: auto 1%;
    background-color: gray;
    width: 30%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

.shape-1 {
    border: 5px solid red;
    outline: 5px solid black;
}

.shape-2 {
    border-top: 5px solid blue;
    border-right: 5px solid green;
    border-bottom: 5px solid blue;
    border-left: 5px solid green;
    outline: 5px solid black;
}

.shape-3 {
    border-top: 5px dashed red;
    border-right: 5px dashed green;
    border-bottom: 5px dashed blue;
    border-left: 5px dashed yellow;
    outline: 5px solid black;
}