div {
  background-color: #f9f9f9;
  letter-spacing: 2px;
  text-indent: 20px;
  line-height: 1.5;
  word-spacing: 5px;
  /* white-space: nowrap; */
}

.url {
  background-color: #dacdcd;
  width: 300px;
  /* word-break: break-all; */
  word-break: break-word;
}