* {
  box-sizing: border-box;
}

.one {
  background-color: #EEE;
  width: 200px;
  height: 100px;
  transition-duration: 1s;
  transition-delay: 0.2s;
  transition-property: width, height;
  transition-timing-function: ease-in-out;
  transition: all 2s 0.5s linear;
}

.one:hover {
  width: 280px;
  height: 120px;
}