a {
    background-color: aqua;
    color: white;
    margin: auto;
    width: 30%;
    display: block;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: xx-large;
    text-transform: capitalize;
    text-decoration: none;
    border-bottom: 5px solid darkcyan;
}